h2 {
    color:green;
}

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
} 

.border-3 {
    border-width:3px !important;
}